<!DOCTYPE html>
<html lang="en fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <meta name="color-scheme" content="dark light">#}
    <meta name="description" content="This is my personal site where I share my knowledge and showcase my projects I have done.">
    <title>
        {% block title %}
            Alireza Sakhtemanian | Personal Website
        {% endblock %}
    </title>
    {% include 'header_references.html' %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% block content %}{% endblock %}

{% include 'footer_references.html' %}
</body>
</html>
